server:
  port: 8082

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/wellnessdb
    username: postgres
    password: password
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  cache:
    type: redis

  data:
    redis:
      host: localhost
      port: 6379
